In [13]:
import mysql.connector as connector
# input your MySQL account, password and databasename
connection = connector.connect(user="", password="", db="")

In [14]:
show_table_query = "SHOW tables"
cursor = connection.cursor()
cursor.execute(show_table_query)
results = cursor.fetchall()
print(results)

[('bookings',), ('customers',), ('menu',), ('menuItem',), ('orderDelivery',), ('orders',), ('staff',)]

In [15]:
select_join_query = """
SELECT c.name
     , c.contactNumber
  FROM orders AS o
  JOIN bookings AS b
    ON o.bookingID = b.bookingID
  JOIN customers AS c
    ON c.customerID = b.customerID
 WHERE o.totalCost > 60;
"""
cursor.execute(select_join_query)
results = cursor.fetchall()
print(results)

[('Eric', 932345678)]